* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tło i czcionki */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/* Nagłówek i menu nawigacyjne */
header {
    background-color: #f44336;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Sekcje */
section {
    padding: 60px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

/* Sekcja Harmonogram */
#harmonogram ul {
    list-style-type: none;
}

#harmonogram ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Galeria */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Sekcja Zaproszenia */
#zaproszenie p {
    font-size: 1.3em;
}

/* Sekcja Kontakt */
#kontakt p {
    font-size: 1.3em;
}

/* Stopka */
footer {
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1em;
}
