* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tło i czcionki */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/* Kontener dla całej strony */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Nagłówek */
header {
    background-color: #f44336;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Sekcja ceremonii */
#ceremonia {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}

#ceremonia h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#ceremonia p {
    font-size: 1.2em;
}

/* Galeria zdjęć */
#galeria {
    background-color: #f0f0f0;
    padding: 40px 0;
}

.gallery {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.gallery img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Sekcja zaproszenia */
#zaproszenie {
    padding: 40px 0;
    text-align: center;
}

#zaproszenie h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#zaproszenie p {
    font-size: 1.2em;
}

/* Sekcja kontaktowa */
#kontakt {
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
}

#kontakt h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#kontakt p {
    font-size: 1.2em;
}

/* Stopka */
footer {
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1em;
}
